<mat-card class="home mat-elevation-z3 card">
    <mat-card-title class="title">
        Bem Vindo
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
       Esta aplicação foi criada com o objetivo de fornecer o controle de pessoas de um churrasco, onde cada participante pode levar um acompanhante. 
    </mat-card-subtitle>
    <mat-card-subtitle class="subtitle">
      Cada participante tem a sua contribução financeira de acordo com a forma de consumo. 
    </mat-card-subtitle>
    <img class="img" src="assets/img/icone-churrasco.png">
</mat-card>